// STYLE POUR NOTRE INTERFACE

.portfolio{
  display: flex;
  flex-flow: row wrap;
}

.project{
  width: calc(33.33% - 10px);
  margin: 5px;
  border: 1px dashed $black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

h2,p{
  margin: 0;
}
.project img{
  order: -1;
  margin-bottom: 15px;
}