//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 
$white: #fff;
$black: #303044;

//Couleur projet
$color-text: lighten($black, 15%);

$color-teal: rgba(1,22,39,1);
$color-blue: rgba(46,196,182,1);
$color-red: rgba(231,29,54,1);
$color-yellow: rgba(255,159,28,1);


