//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$fz-text: rem(16);

$lh-text: rem(24);

/// Font family

$ff-opensans: 'Open Sans Condensed', sans-serif;
$ff-sairaextra: 'Saira Extra Condensed', sans-serif;

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
